.errorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;
  margin: 0 auto;
  padding-top: 40px;
  max-width: 260px;
}

.title {
  padding: 20px;
}

.paginationWrapper {
  padding: 20px 0;
}
