.pageWrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.panelWrapper {
  padding: 30px;
}
.pageTitle {
  padding: 20px 0;
  text-align: center;
}

.tabContainer {
  width: 100%;
}

.tabWrapper {
  border-bottom: 1px solid #221f26;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.tabContainer {
  flex-grow: 1;
}
.backBtn {
  color: orangered !important;
}
