.formWrapper,
.visibilityWrapper,
.btnWrapper {
  display: flex;
  flex-direction: row;
}
.formWrapper {
  flex-direction: column;
  gap: 24px;
}

.visibilityWrapper {
  align-items: center;
}

.updateText {
  text-align: center;
}

.btnWrapper {
  gap: 24px;
  justify-content: center;
}
