.pageWrapper h1 {
  text-align: center;
  padding: 20px 0;
}

.cardsListWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
