.deleteModalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  padding-bottom: 12px;

  text-align: center;
}

.deleteBtn {
  width: fit-content;
}

.deleteError {
  color: red;
}
