.quizBtnsWrapper,
.quizItemWrapper,
.createQuizWrapper {
  display: flex;
  gap: 6px;
}

.createQuizWrapper {
  flex-direction: column;
  gap: 18px;
}

.quizQuantity {
  text-align: center;
  padding: 6px 0px;
}

.quizItemWrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid purple;
  padding: 6px 0px;
}

@media screen and (max-width: 950px) {
  .quizItemWrapper {
    flex-direction: column;
  }
}
