.crateBtnWrapper {
  display: flex;
  justify-content: center;

  padding: 20px 0;
}

.emptyListNotice {
  text-align: center;
}

.modalBtnsWrapper {
  display: flex;
  gap: 12px;
}

.cardListWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.myCompanyBtnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px 0;
}
