.listWrapper,
.listItemWrapper,
.profileAnalyticsWrapper {
  display: flex;
  flex-direction: column;
}

.profileAnalyticsWrapper {
  justify-content: center;
  gap: 18px;
}

.listWrapper {
  gap: 12px;
}

.listItemWrapper {
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
