.formWrapper,
.actionWrapper,
.btnWrapper {
  display: flex;
  flex-direction: column;
}

.formWrapper {
  gap: 20px;
  padding: 20px 0;
  border-radius: 15px;
  margin: 0 auto;
  width: 460px;
}

.formTitle {
  text-align: center;
}

.actionWrapper {
  align-items: center;
}

.btnWrapper {
  flex-direction: row;
  gap: 20px;
  padding-top: 20px;
}

@media screen and (max-width: 750px) {
  .formWrapper {
    width: 360px;
  }
}
