.analyticsWrapper,
.membersListWrapper,
.membersListItem,
.memberTakeTimeWrapper {
  display: flex;
}

.analyticsWrapper,
.membersListWrapper,
.memberTakeTimeWrapper {
  flex-direction: column;
  gap: 24px;
}

.memberTakeTimeWrapper {
  gap: 4px;
}

.membersListWrapper {
  gap: 8px;
}

.analyticsTitle,
.membersListTitle,
.memberChartTitle {
  text-align: center;
  padding: 8px 0px;
  color: purple;
  text-decoration: underline;
  text-decoration-color: rgba(128, 0, 128, 0.5);
}

.membersListItem {
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;

  border-bottom: 1px solid green;
}
