.wrapper,
.btnWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border: 2px solid blanchedalmond;
  border-radius: 15px;
  box-shadow: 24;
  padding: 3rem;
  background-color: #15141a;
}

.wrapper h2 {
  margin-bottom: 16px;
}
.wrapper p {
  margin-bottom: 24px;
}
.btnWrapper {
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .wrapper {
    width: 360px;
    padding: 2rem;
  }
}
