.navLink {
  text-decoration: none;
}

.navLink.active,
.navLink:hover {
  color: #9c29b0;
}

.dropDownMenuWrapper {
  display: none;
}

.menuItems_row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.menuItems_col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 900px) {
  .menuWrapper {
    display: none;
  }
  .dropDownMenuWrapper {
    display: block;
  }
}
